{
    "env":
    {
        "development":
        {
            "presets": ["stage-0"],
            "plugins": [["transform-runtime",
            {
                "polyfill": false
            }]]
        },
        "test":
        {
            "presets": ["stage-0"]
        },
        "production":
        {
            "presets": ["stage-0"],
            "plugins": [
                ["transform-runtime",
                {
                    "polyfill": false
                }]
            ]
        }
    }
}
