{
    "presets": [
        ["env",
        {
            "modules": false,
            "targets":
            {
                "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
            }
        }],
        "stage-0"
    ],
    "plugins": ["transform-runtime"],
    "env":
    {
        "development":
        {
            "presets": [{{#if_contain modelConfig "react"}}"react"{{/if_contain}}],
            "plugins": [{{#if_contain modelConfig "react"}}"react-hot-loader/babel"{{/if_contain}}]
        },
        "production":
        {
            "presets": [{{#if_contain modelConfig "react"}}"react"{{/if_contain}}],
            "plugins": []
        }
    }
}
